@tailwind base;
@tailwind components;
@tailwind utilities;

#game-grid {
  width: calc((7 / 6) * ((2 / 3) * 100vh));
  height: calc((2 / 3) * 100vh);
}


@media screen and (max-width: 768px) {
  #game-grid {
    width: calc((7 / 6) * ((2 / 3) * 100vw));
    height: calc((2 / 3) * 100vw);
  }
}